@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/*html {
    background-color: #242424;
    color: white;
    font-family: 'Poppins', sans-serif;
}*/

* {
    margin: 0;
    padding: 0;
}

.centerPage{
    display:flex;
    align-Items: center;
    flex-Direction: column;
    
}

